* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins ;
    color: white;
}


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
}

.App {
    height: 100vh;
}
